@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
}


html{
  height: 100%;
  width: 100%;

}
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "Libre Franklin", sans-serif;
}

/*Navigation*/

nav.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

div.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Navigation*/

/*Forms*/

div.form-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.form {
  position: relative;
  top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
  gap: 1rem;
  justify-content: center;
  border: 1px solid black;
}
input.input {
  width: 380px;
  height: 1.3rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.btn {
  width:200px;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.85rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;

}
.btn-blue {
  background-color: #0079cc;
  color: white;
}
.btn-purp {
  background-color: #7a1dcd;
  color: white;
}
/*Forms*/

/*Task*/
.center {
  margin-left: auto;
  margin-right: auto;
}

div.task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 3rem;
  gap: 1rem;
}
div.task {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  gap: 1rem;
  padding: 1rem;
}
.flex-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-around {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/*Task*/

/*Create Task*/

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6));
}

.create-task-container {
  position: relative;
  margin:auto;
  top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: white;
  align-items: center;
  width: fit-content;
}
.create-task {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

/*Create Task*/